{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Medichat - RCGP Chatbot</title>
    <meta name="description" content="Proving question answering for the RCGP toolkits">
    <meta name="keywords" content="MediChat, Q&A, quiz, RCGP, toolkits"/>
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <link rel="icon" href="{% static '/frontend/assets/images/MediIcon.png' %}" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="{% static '/frontend/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/frontend/assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/frontend/css/quiz.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static '/frontend/css/theme/default-theme.css' %}">
</head>
<body class="default-theme">
    <!-- Preloader Start -->
    <div class="preloader"></div>
    <!-- Preloader end -->
  
    <!-- main wrapper start -->
    <div class="main-wrapper">
        <div class="chatapp">
            <!-- navbar start -->
            <nav id="navbar" class="navbar navbar-expand-md navbar-light fixed-top bg-white border-bottom shadow-sm">
                <a class="navbar-brand" href="{% url 'homepage' %}">
                    <img src="{% static '/frontend/assets/images/MediIcon.png' %}" width="50" height="50" class="d-inline-block align-top" alt="">
                    <h1>MediChat</h1>
                </a>
             
            </nav>
            <!-- navbar end -->

            <!-- sidebar start -->
            <div class="chatapp__sidebar">
                <ul class="nav" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage' %}">
                            <i class="mdi mdi-message-text-outline"></i><span>Chat</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'quiz' %}">
                            <i class="mdi mdi-calendar-question"></i><span>Quiz</span>
                        </a>
                    </li>

                </ul>
            </div>
            <!-- sidebar end -->

             <!-- main content start -->
            <div class="chatapp__content">

                <div class="chatapp__callstab">
                    <!-- user list start -->
                    <div class="chatapp-user-list ">
                        <input id="toolkit-search" placeholder="Search toolkit here" type="text" oninput="filterToolkits()">

                        <div class="chatapp-user-list-body custom-scrollbar">
                            <ul id="quiz-list" class="list-unstyled">
                            </ul>
                        </div>
                    </div>
                    <!-- user list end -->

                     <!-- callswrapper wrapper start -->
                    <div class="ca-content__callswrapper custom-scrollbar">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div id="quizcontainer"></div>
                                    </div>
                                </div>
    
                            </div>
                            <button id="previous">Previous Question</button>
                            <button id="next">Next Question</button>
                            <button id="submit">Submit Quiz</button>
                            <div id="results"></div>
                        </div>
                     <!-- callswrapper wrapper start -->
                </div>
            </div>
             <!-- main content end -->
        </div>
    </div> 
    <!-- main wrapper end -->

    <!-- Javascripts Files -->
    <script src="{% static '/frontend/js/quiz.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{% static '/frontend/js/popper.min.js' %}" ></script>
    <script src="{% static '/frontend/assets/vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/frontend/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static '/frontend/js/main.min.js' %}"></script>
    
</body>
</html>
